@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #f5f5f5;
  height: 100%;
  width: auto;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUpButton {
  from {
    opacity: 0;
    transform: translateY(350%);
  }
  to {
    opacity: 1;
    transform: translateY(300%);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translate(-40%, 20%);
  }
  to {
    opacity: 1;
    transform: translate(-30%, 10%);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translate(-20%, 90%);
  }
  to {
    opacity: 1;
    transform: translate(-30%, 80%);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translate(55%, 30%);
  }
  to {
    opacity: 1;
    transform: translate(45%, 40%);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

.animate-fadeInUpButton {
  animation: fadeInUpButton 0.8s ease-out forwards;
}

.animate-slideInUp {
  animation: slideInUp 0.8s ease-out forwards;
}

.animate-slideInLeft {
  animation: slideInLeft 0.8s ease-out forwards;
}

.animate-slideInRight {
  animation: slideInRight 0.8s ease-out forwards;
}
